<h1>Login page for sessions</h1>
<!DOCTYPE html>
<html>
<head>
  <title>Login page</title>
</head>
<body>

<form action="login" method="post">
    <label> Email</label>
    <input type="email" name="email" ></input>

    <label>Password</label>
    <input type="password" name="password"></input>

    <button>submit</button>
</form>

</body>
</html>
