<h1>Sign in or signup</h1>

<!--   <div id="login">
    <form action="login" method="get">
      <button>login</button>
    </form>
  </div>

  <div id="signup">
    <form action="users/new" method="get">
        <button> register</button>
    </form>
  </div>
 -->


<% if current_user %>
<ul>
  <% @users.each do |x| %>
      <li><%= x.email %></li>
  <% end %>

</ul>
<%= link_to 'logout', logout_path, method: :delete %>

<% else %>

  <a href="users/new">Register</a>
  <a href="login">Login</a>

<% end %>
