
<p>Select the college you wish to add to your wish list</p>
<ul>
<% @results.each do |result| %>
  <li><%= link_to result["INSTNM"], college_show_path, method: :get%></li>

<% end %>
</ul>

<%= @target %>
