<h1>Colleges#show</h1>
<p>Find me in app/views/colleges/show.html.erb</p>


<% @results.each do |result| %>
  <li> <a href="https://www.google.com/?gws_rd=ssl"><%= result["INSTNM"] %> </a> </li>
<% end %>
