// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.info{
  background-color: #8EC0E4;
  float: right
}

body {
  background-color: #D4DFE6
}

h1 {
  text-align: center
}
